http:
  middlewares:
    traefik-auth:
      basicAuth:
        users:
          # Default: admin/admin (CHANGE THIS!)
          # Generate with: echo $(htpasswd -nb admin yourpassword) | sed -e s/\\$/\\$\\$/g
          - "admin:$$apr1$$8EVjn/nj$$GiLUZqcbueTFeD23SuB6x0"
    
  routers:
    dashboard:
      rule: "Host(`traefik.homelab.local`)"
      service: api@internal
      entryPoints:
        - websecure
      middlewares:
        - traefik-auth
      tls: {}
    
    homeassistant:
      rule: "Host(`ha.homelab.local`)"
      service: homeassistant
      entryPoints:
        - websecure
      tls: {}

    plex:
      rule: "Host(`plex.homelab.local`)"
      service: plex
      entryPoints:
        - websecure
      tls: {}

  services:
    homeassistant:
      loadBalancer:
        servers:
          - url: "http://host.docker.internal:8123"
        healthCheck:
          path: /
          interval: 30s
          timeout: 5s

    plex:
      loadBalancer:
        servers:
          - url: "http://host.docker.internal:32400"
        healthCheck:
          path: /
          interval: 30s
          timeout: 5s

tls:
  stores:
    default:
      defaultCertificate:
        certFile: /etc/traefik/certs/homelab.local.crt
        keyFile: /etc/traefik/certs/homelab.local.key
